<div class="container">
  <div>
    <button class="btn" (click)="setView(0)">First Year Moms</button>
    <button class="btn" (click)="setView(1)">Older Moms</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Animal Id</th>
        <th scope="col">Dam</th>
        <th scope="col">Dam_Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mom of moms">
        <td>{{ mom.animal_id }}</td>
        <td>{{ mom.dam }}</td>
        <td>{{ mom.dam_date }}</td>
      </tr>
    </tbody>
  </table>
  <div style="margin: 0 auto 0 auto; width: fit-content;">
    <ngb-pagination [collectionSize]="totalMoms" [(page)]="page" [pageSize]="pageSize" (pageChange)="getMoms(page)" [maxSize]="5" [boundaryLinks]="true" [rotate]="true">
    </ngb-pagination>
  </div>
</div>